main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
    height: 90vh;
    max-width: $max-width;

    img {
        height: 95%;
        padding-right: 2rem;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            line-height: 1;
        }

        p {
            margin: 2rem 0;
        }

        .blue {
            color: $blue-dark;
        }

        .pink {
            color: $pink-dark;
        }

        .btn {
            margin-right: 1rem;
        }
    }
}