.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    img {
        height: 96%;
        padding-right: 2rem;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        flex-direction: column;

        p {
            margin: 2rem 0;
        }

        .btn {
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: $resp-phone) {
    #page-home {
        background:
        linear-gradient(
            rgba(74, 63, 75, 0.8), 
            rgba(74, 63, 75, 0.8)),
        url('../img/girl.png') no-repeat fixed left bottom/650px,
        rgb(74, 63, 75);
    }

    .home {
        height: 70vh;

        img {
        display: none;
        }

        .hero-text {
            display: flex;
            align-items: center;
            text-align: center;
            width: 100%;

            h1 {
                font-size: 2.6rem;
            }

            p {
                font-size: 0.95rem;
            }
        }
    }
}

@media screen and (max-width: $resp-tablet) {
    #page-home {
        background:
        linear-gradient(
            rgba(74, 63, 75, 0.8), 
            rgba(74, 63, 75, 0.8)),
        url('../img/girl.png') no-repeat fixed left bottom/650px,
        rgb(74, 63, 75);
    }

    .home img {
        // position: relative; Keeps the girl in the foreground
        // bottom: -3rem;
        // height: 85%;
        display: none;
    }

    .hero-text {
        display: flex;
        align-items: center;
        text-align: center;
        width: 50%;
    }
}