.support {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;

    &-search {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-bar {
            margin: 2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input[type=text] {
            height: 50px;
            border: none;
            width: 30rem;
            padding-left: 1.5rem;
            border-bottom-left-radius: 8px;
            font-size: 1.2em;
            color: $gray-light;
        }
    }

    .problems {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-links {
            display: flex;
            margin-top: 1.5rem;

            &-list {
                margin: 0 2rem;
                text-align: left;
            }

            a {
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and (max-width: $resp-phone) {
    .support {
        height: 100%;

        h1 {
            font-size: 1.5rem;
        }

        &-search h1 {
            display: none;
        }

        &-search {
            input[type=text] {
                width: 80%;
            }
        }

        .problems {
            &-links {
                flex-direction: column;

                &-list {
                    text-align: center;

                    ul {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}