.btn {
    display: inline-block;
    background: $blue-light;
    color: $white-dark;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1.3rem;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    transition: $trans-1;

    &:hover {
        background: darken($blue-light, 10%);
        color: darken($white-dark, 10%);
        box-shadow: $shadow-blue-light;
        transition: $trans-1;
    }

    &-outline {
        border: 3px solid $white-dark;
        background: none;

        &:hover {
            background: none;
        }

        &-pink {
            border: 3px solid $pink-light;

            &:hover {
                box-shadow: $shadow-pink-light;
            }
        }
    }
}