body {
    font-family: $poppins;
    line-height: 1.6;
    background: $purple-bg;
    color: $white-dark;
    overflow: hidden;
}

a {
    color: $white-dark;
    transition: $trans-1;

    &:hover {
        color: $blue-light;
    }
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
}

.blue-dark { color: $blue-dark; }

.blue-light { color: $blue-light; }

.pink-dark { color: $pink-dark; }

.pink-light { color: $pink-light; }

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden; /* Visible makes the butons work. Used to be/is supposed to be hidden */
}